/********** START INTERFACE  ***********/
* {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px){
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1140px;
	}
}
.container {  
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.content {
	padding-top: 55px;
}
@media (max-width: 1200px){
	.content {
		padding-top: 55px;
	}
}
/*********** END INTERFACE ***********/

/*********** START BREADCRUMBS ***********/
.breadcrumbs-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}
.breadcrumbs-wrapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.breadcrumbs-wrapper li,
.breadcrumbs-wrapper a {
	list-style: none;
	font-weight: 200;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	text-decoration: none;
}
.breadcrumbs-wrapper a:hover {
	text-decoration: underline;
}
.breadcrumbs-wrapper li:not(:first-child) {
	margin-left: 10px;
}
.breadcrumbs-wrapper li:not(:first-child):before {
	content: "\\";
	margin-right: 10px;
}
/*********** END BREADCRUMBS ***********/

/*********** START HEADER ***********/
.no-scroll {
	overflow: hidden;
}
.header {
	background-color: #ffff;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 55px;
	max-height: 55px;
	width: 100%;
	z-index: 100;
}
.header.active {
	overflow-y: auto;
	min-height: 100vh;
	max-height: 100vh;
}
.header-top-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
}
.header-logo {
	display: flex;
	align-items: center;
	height: 50px;
}
.header-menu-open {
	font-size: 20px;
	color: #0D4259;
	margin-left: 36px;
}
.header-top-nav-list {
	display: flex;
	padding: 0;
	margin: 0;
}
.header-top-nav-item {
	list-style: none;
}
.header-top-nav-item:not(:last-child) {
	padding-right: 15px;
	border-right: 1px solid black;
}
.header-top-nav-item:not(:first-child) {
	padding-left: 15px;
}
.header-top-nav-item a {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
}
.header-top-button a{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFEFE;
	padding: 6px 13px 8px;
	background: #00C5EC;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 1px;
	transition: color 0.3s;
}
.header-top-button a:hover {
	color: #0D4259;
}
.header-top-phone {
	text-align: right;
}
.header-top-phone a {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
}
.header-top-phone span {
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
}
.header-menu-drop {
	background-color: #fff;
	border-top: 1px solid #e4e4e4;
	opacity: 0;
	padding: 40px 0 20px;
	position: relative;
	top: 0;
	left: 0;
	transition: opacity 1s linear;
	min-height: 100vh;
	width: 100%;
	visibility: hidden;
	z-index: -1;
}
.header-menu-drop.open {
	opacity: 1;
	visibility: visible;
	z-index: 1000;
}



.header-nav-drop-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-nav-drop-item {
	flex-basis: 27%;
}
.header-nav-drop-item:nth-child(2) {
	flex-basis: 17%;
}
.header-nav-drop {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.header-drop-item:not(:last-child) {
	margin-bottom: 13px;
}
.header-nav-drop a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000;
}
.header-drop-contacts-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	margin-top: 0;
	margin-bottom: 15px;
}
.header-drop-contacts-address {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	margin-top: 0;
	margin-bottom: 19px;
}
.header-drop-contacts-tel {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}


@media (max-width: 1199px) {
	.header-top-button {
		display: none;
	}
}
@media (max-width: 991px) {
	.header-logo {
		margin-left: 9px;
	}
	.header-menu-open {
		margin-left: 46px;
	}
	.header-top-nav-list {
		display: none;
	}
	.header-top-button {
		display: block;
		margin-right: 32px;
	}
}
@media (max-width: 767px) {
	.header-logo {
		margin-left: 0;
	}
	.header-menu-open {
		margin-left: 50px;
	}
	.header-top-button {
		margin-right: 6px;
	}
}
@media (max-width: 575px) {
	.header-menu-open {
		margin-left: 20px;
	}
	.header-top-button {
		display: none;
	}
}
/*********** END HEADER ***********/

/*********** START HOMPAGE MAIN SLIDER ***********/
.main-hp-slider-wrapper {
	position: relative;
}
.main-hp-slider-list {
	margin-bottom: 0px!important;
}
.main-hp-slider-item {
	display: flex;
	background: #0085C0;
	height: 350px;
}
.main-hp-slider-content {
	position: relative;
	flex-basis: 50%;
	box-sizing: border-box;
	padding: 70px 110px;
}
.main-hp-slider-title {
	font-weight: bold;
	font-size: 30px; 
	line-height: 35px;
	letter-spacing: -0.257143px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 17px;
}
.main-hp-slider-subtitle {
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin: 0;
}
.main-hp-slider-btn {
	padding: 8px 20px 9px;
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #0D4259;
	text-decoration: none;
	position: absolute;
	bottom: 100px;
	left: 110px;
	transform: translateY(100%);
	outline: none;
	cursor: pointer;
}
.main-hp-slider-foto {
	flex-basis: 50%;
	overflow: hidden;
}
.main-hp-slider-foto img {
	display: block;
	min-width: 100%;
    min-height: 100%;
}
.main-hp-slider-prev,
.main-hp-slider-next {
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
	cursor: pointer;
}
.main-hp-slider-prev.slick-disabled,
.main-hp-slider-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.main-hp-slider-prev {
	left: 0;
}
.main-hp-slider-next {
	right: 0;
}
.main-hp-slider-prev svg,
.main-hp-slider-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-hp-slider-nav {
	display: flex;
	position: absolute;
	bottom: 0;
	padding-left: 0;
	left: 50%;
	transform: translateX(calc(-100% - 25px));
	margin-bottom: 25px;
}
.main-hp-slider-nav li {
	list-style: none;
	margin-right: 5px;
	margin-left: 5px;
}
.main-hp-slider-nav li.slick-active button {
	background-color: #0D4259;
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding: 0;
    box-sizing: content-box;
    cursor: auto;
}
.main-hp-slider-nav button {
	width: 15px;
	height: 15px;
	font-size: 0;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #fff;
	cursor: pointer;
}
.main-hp-slider-list div {
	outline: none;
}
@media (max-width: 1199px) {
	.main-hp-slider-item {
		height: auto;
	}
	.main-hp-slider-content {
		padding: 103px 40px 103px 98px;
		height: 450px;
	}
	.main-hp-slider-btn {
		bottom: 113px;
		left: 97px;
	}
}
@media (max-width: 991px){ 
	.main-hp-slider-content {
		padding: 145px 10px 145px 47px;
	}
	.main-hp-slider-btn {
		bottom: 113px;
		left: 47px;
	}
}
@media (max-width: 767px) {
	.main-hp-slider-content {
		flex-basis: 100%;
		padding: 115px 19px 145px 139px;
	}
	.main-hp-slider-foto {
		display: none;
	}
	.main-hp-slider-nav {
		left: 100%;
	}
	.main-hp-slider-btn {
		bottom: 153px;
		left: 134px;
	}
	.main-hp-slider-nav {
		transform: translateX(calc(-100% - 45px));
	}
}
@media (max-width: 540px) {
	.main-hp-slider-content {
		padding: 100px 45px;
	}
	.main-hp-slider-btn {
		bottom: 100px;
		left: 45px;
	}
}
/*********** END HOMPAGE MAIN SLIDER ***********/

/*********** START HOMPAGE DESCRIPTION ***********/
.description-section-wrapper {
	position: relative;
	padding-top: 40px;
	padding-bottom: 50px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(13, 66, 89, 0.1) 67.23%);
}
.description-section {
	display: grid;
	max-width: 100%;
	grid-template-columns: auto 350px;
	grid-template-areas: "content cards"
						 "content cards" 
                       	 "image cards";
	grid-gap: 30px;
}
.description-section-content {
	grid-area: content;
}
.description-section-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -0.257143px;
	color: #0D4259;
	padding-left: 15px;
	padding-top: 11px;
	padding-bottom: 18px;
	border-left: 4px solid #0085C0;
	margin-top: 0;
	margin-bottom: 17px;
}
.descriptiom-section-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
}
.descriptiom-section-image {
	grid-area: image;
	overflow: hidden;
}
.descriptiom-section-image img{
	min-width: 100%;
	min-height: 100%;
}
.description-cards-list-wrapper {
	grid-area: cards;
}
.description-cards-list {
	margin-top: 12px;
	outline: none;
}
.description-cards-item {
	padding: 19px 14px;
	width: 350px;
	height: 194px;
	box-sizing: border-box;
	background-color: #fff;
	display: flex;
	/*justify-content: space-between;*/
}
.description-cards-list div:not(:last-child) {
	margin-bottom: 18px;
}
.description-cards-list div {
	outline: none;
}
.description-cards-image {
	margin-right: 28px;
	width: 64px;
}
.description-cards-image span{
	font-size: 64px;
	color: #0D4259;
}
.description-cards-content {

}
.description-cards-title {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.257143px;
	color: #0D4259;
	margin-top: 0;
	margin-bottom: 15px;
}
.description-cards-ul {
	padding-left: 13px;
	margin: 0px;
}
.description-cards-ul li {
	list-style: none;
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: -0.257143px;
	color: #000000;
}
.description-cards-ul li:not(:last-child) {
	border-bottom: 1px solid #CCCCCC;
}

.description-cards-list .slick-slide {
	outline: none;
}
.description-slider-prev,
.description-slider-next {
	display: none;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	bottom: 163px;
	border-radius: 2px;
	z-index: 2;
	cursor: pointer;
}
.description-slider-prev.slick-disabled,
.description-slider-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.description-slider-prev {
	left: 0;
}
.description-slider-next {
	right: 0;
}
.description-slider-prev svg,
.description-slider-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.description-slider-nav {
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin: 0;
}
.description-slider-nav li {
	list-style: none;
	margin-right: 5px;
	margin-left: 5px;
}
.description-slider-nav li.slick-active button {
	background-color: #0D4259;
	border: 2px solid #0085C0;
	padding: 0;
    box-sizing: content-box;
    cursor: auto;
}
.description-slider-nav button {
	width: 15px;
	height: 15px;
	font-size: 0;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #0085C0;
	cursor: pointer;
}
@media (max-width: 1199px){ 
	.description-section {
		grid-template-columns: auto 370px;
		grid-gap: 34px;
		grid-template-areas: "content content"
							 "content content"  
	                       	 "image cards";
	}
	.description-cards-list {
		margin-top: 0;
	}
	.description-cards-item {
		width: 370px;
		padding: 24px 31px;
	}
	.description-cards-image {
    	margin-right: 33px;
    }
}
@media (max-width: 991px){  
	.description-section {
		grid-template-columns: auto 330px;
		grid-gap: 20px;
	}
	.description-cards-item {
		width: 330px;
	}
	.descriptiom-section-text {
		margin-bottom: 13px;
	}
	.descriptiom-section-text span {
		display: none;
	}
	.descriptiom-section-image {
		width: 97%;
	}
	.description-cards-list {
		margin-top: 0;
	}
	.description-cards-item {
		padding: 22px 13px;
	}
}
@media (max-width: 767px) {
	.description-section-wrapper {
    	padding-bottom: 20px;
    }
	.description-section {
		grid-gap: 20px;
	}
	.description-section {
		display: flex;
		flex-direction: column;
	}
	.description-section-title {
		line-height: 39px;
		padding-top: 9px;
    	padding-bottom: 8px;
    	margin-bottom: 31px;
	}
	.descriptiom-section-image {
		display: none;
	}
	.description-cards-item {
		margin: 0 auto;
		width: 390px;
		padding: 22px 38px;
	}
	.descriptiom-section-text span {
		display: block;
	}
	.descriptiom-section-text br {
		display: none;
	}
	.description-cards-list div:not(:last-child) {
	    margin-bottom: 6px;
	}
	.description-slider-prev,
	.description-slider-next {
		display: block;
	}
}
@media (max-width: 500px) { 
	.description-section-title {
		font-size: 22px;
	}
	.description-cards-item {
		width: 300px;
		padding: 22px 7px;
	}
	.description-cards-image {
		margin-right: 5px;
	}
}
/*********** END HOMPAGE DESCRIPTION ***********/

/*********** START CONTACTS ***********/
.contact-section-wrapper {
	background: url('../img/contacts-bg.jpg');
	background-size: cover;
	background-position: right;
	min-height: 225px;
	box-sizing: border-box;
	padding-top: 38px;
	padding-bottom: 51px;
}
.contact-flex {
	display: flex;
	align-items: center;
	margin-left: 66px;
}
.contact-flex-content {
	max-width: 350px;
	margin-right: 125px;
}
.contact-flex-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 10px;
}
.contact-flex-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.257143px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 30px;
}
.contact-flex-button {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #0D4259;
	text-decoration: none;
	background-color: #fff;
	padding: 10px 20px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	outline: none;
	transition: background 0.3s;
}
.contact-flex-button:hover {
	background: #00C5EC;
}
.contact-phone-list {
	display: flex;
	margin-top: 15px;
}
.contact-phone-item {
	display: flex;
	flex-basis: 50%;
}
.contact-phone-item:first-child {
	margin-right: 27px;
}
.contact-phone-number {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 10px;
}
.contact-phone-number a {
	color: #fff;
	text-decoration: none;
}
.contact-phone-item .icon-4 {
	font-size: 30px;
	color: #FFFFFF;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 19px;
}
.contact-phone-description {
	width: 140px;
	font-weight: 300;
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0;
}
@media (max-width: 1199px){
	.contact-section-wrapper {
		padding-top: 35px;
		padding-bottom: 31px;
	}
	.contact-flex {
		margin-left: 83px;
	}
	.contact-phone-list {
		flex-direction: column;
		margin-top: 0;
	}
	.contact-phone-item:first-child  {
		margin-right: 0;
		margin-bottom: 24px;
	}
	.contact-phone-description {
		width: 180px;
	}
	.contact-flex-content {
		margin-right: 147px;
		margin-bottom: 14px;
	}
}
@media (max-width: 991px){
	.contact-flex {
		margin-left: 16px;
	}
	.contact-flex-content {
		margin-right: 89px;
		margin-bottom: 17px;
	}
	.contact-flex-text {
		width: 300px;
		margin-bottom: 23px;
	}
}
@media (max-width: 767px) {
	.contact-section-wrapper {
		padding-bottom: 34px;
	}
	.contact-flex {
		flex-direction: column;
		margin-left: 0;
	}
	.contact-flex-content {
		text-align: center;
		margin-right: 0;
	}
	.contact-phone-list {
		flex-direction: row;
		margin-top: 29px;
	}
	.contact-phone-item:first-child {
		margin-right: 30px;
		margin-bottom: 0;
	}
}
@media (max-width: 540px) {
	.contact-phone-list {
		flex-direction: column;
	}
	.contact-phone-item {
		max-width: 260px;
	}
	.contact-phone-item:first-child {
		margin-right: 0;
		margin-bottom: 30px;
	}
}
/*********** END CONTACTS ***********/

/*********** START MAP SECTION ***********/
.map-section {
	padding-top: 60px;
}
.map-section-grid {
	display: grid;
	grid-template-columns: 538px auto;
	grid-template-rows: 72px auto;
	grid-gap: 30px;
	grid-template-areas: "map-title map-map"
 						 "map-content map-map"; 
}
.map-section-title {
	grid-area: map-title;
}
.map-section-title h2 {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.257143px;
	color: #0D4259;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-left: 4px solid #0085C0;
	margin: 0;
}
.map-section-content {
	grid-area: map-content;
}
.map-section-content p {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 18px;
}
.map-section-content h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #0D4259;
	padding-left: 15px;
	border-left: 4px solid #80C2DF;
	margin-top: 0;
	margin-bottom: 20px;
}
.map-section-ul-wrapper {
	display: flex;
	margin-bottom: 33px;
}
.map-section-content ul {
	margin: 0;
	padding-left: 13px;
}
.map-section-content ul:first-child {
	margin-right: 27px;
}
.map-section-content li {
	font-weight: 300;
	font-size: 10px;
	line-height: 16px;
	text-indent: -4px;
	color: #86A0AC;
}
.map-section-content li span {
	color: #000;
}
.map-section-button {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 13px 36px;
	background: #00C5EC;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	transition: color 0.3s;
}
.map-section-button:hover {
	color: #0D4259;
}
.map-section-map {
	grid-area: map-map;
	text-align: center;
}
@media (max-width: 1199px) {
	.map-section {
		padding-top: 55px;
		padding-bottom: 53px;
	}
	.map-section-grid {
		grid-template-columns: 450px auto;
		grid-template-rows: 58px auto;
		grid-gap: 34px;
	}
	.map-section-title h2 {
		padding-bottom: 1px;
	}
	.map-section-title h2 br{
		display: none;
	}
	.map-section-content p {
		width: 380px;
	}
	.map-section-map {
		margin-top: 21px;
	}
}
@media (max-width: 991px) {
	.map-section-grid {
		grid-gap: 10px;
		grid-template-columns: 330px auto;
		grid-template-areas: "map-title map-title"
	 						 "map-content map-map"; 
	}
	.map-section-title h2 {
		width: 440px;
	}
	.map-section-content p {
		margin-top: 33px;
		width: auto
	}
	.map-section-ul-wrapper {
		flex-direction: column;
	}
	.map-section-map {
		margin-top: 40px;
	}
}
@media (max-width: 767px) {
	.map-section-grid {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: 0;
		grid-template-areas: "map-title"
	 						 "map-content"
	 						 "map-map"; 
	}
	.map-section-title h2 {
		line-height: 30px;
		padding-top: 8px;
		margin-bottom: 15px;
	}
	.map-section-content p {
		margin-top: 20px;
	}
	.map-section-content h3 {
		margin-bottom: 36px;
	}
	.map-section-ul-wrapper {
		flex-direction: row;
		margin-bottom: 33px;
	}
	.map-section-content ul:first-child {
		margin-right: 108px;
	}
	.map-section-button-wrapper {
		text-align: center;
	}
	.map-section-map {
		margin-top: 104px;
	}
}
@media (max-width: 540px) {
	.map-section-title h2 {
		width: auto;
	}
	.map-section-ul-wrapper {
		flex-direction: column;
	}
	.map-section-button {
		padding: 13px 20px;
	}
	.map-section-map {
		margin-top: 50px;
	}
}
/*********** END MAP SECTION ***********/

/*********** START BRANDS ***********/
.brands-section {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(13, 66, 89, 0.1) 67.23%);
	padding-bottom: 38px;
	margin-top: 32px;
	position: relative;
}
.brands-section-title {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.257143px;
	text-transform: uppercase;
	color: #0D4259;
	padding-left: 15px;
	border-left: 4px solid #0085C0;
	margin-top: 0;
}
.brand-list {
	margin-bottom: 0!important;
}
.brand-item {
	height: 87px;
}
.brand-image-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brand-image-wrapper img {
	width: 75%;
}
.brand-list .slick-slide {
	outline: none;
}
.brands-slider-prev,
.brands-slider-next {
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
	cursor: pointer;
	z-index: 3;
}
.brands-slider-prev.slick-disabled,
.brands-slider-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.brands-slider-prev {
	left: 0;
}
.brands-slider-next {
	right: 0;
}
.brands-slider-prev svg,
.brands-slider-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.brands-slider-nav {
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin: 0;
	margin-top: 10px;
}
.brands-slider-nav li {
	list-style: none;
	margin-right: 5px;
	margin-left: 5px;
}
.brands-slider-nav li.slick-active button {
	background-color: #0D4259;
	border: 2px solid #0085C0;
	padding: 0;
    box-sizing: content-box;
    cursor: auto;
}
.brands-slider-nav button {
	width: 15px;
	height: 15px;
	font-size: 0;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #0085C0;
	cursor: pointer;
}
@media (max-width: 1199px) {
	.brands-section-title {
		width: 720px;
	}
}
@media (max-width: 991px) {
	.brands-section-title {
		width: auto;
	}
	.brands-slider-prev,
	.brands-slider-next {
		top: 56%;
	}
	.brands-section {
		padding-bottom: 48px;
	}
}
@media (max-width: 600px) {
	.brands-section {
		margin-top: 7px;
		padding-bottom: 26px;
	}
	.brands-section-title {
		line-height: 30px;
	}
	.brand-item {
		height: 100px;
	}
	.brands-slider-prev,
	.brands-slider-next {
		top: 53%;
	}
	.brands-slider-nav {
		margin-top: 0;
	}
}
@media (max-width: 500px) {
	.brand-image-wrapper img {
		width: 50%;
	}
	.brand-item {
		height: 60px;
	}
	.brands-slider-prev, 
	.brands-slider-next {
    	top: 63%;
	}
}
/*********** END BRANDS ***********/

/*********** START FOOTER ***********/
.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0D4259;
}
.footer-list {
	display: flex;
}
.footer-list-item {
	flex-basis: 27%;
}
.footer-list-item:nth-child(2) {
	flex-basis: 17%;
}
.footer-nav-list {
	margin: 0;
	padding: 0;
}
.footer-nav-item {
	list-style: none;
}
.footer-nav-item:not(:last-child) {
	margin-bottom: 13px;
}
.footer-nav-item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FFFFFF;
}
.footer-contacts-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 15px;
}
.footer-contacts-address {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 19px;
}
.footer-contacts-tel {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}
.footer-copyright {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.257143px;
	color: #FFFFFF;
	margin-top: 45px;
}
@media (max-width: 1199px) {
	.footer-list-item:nth-child(1) {
		flex-basis: 31%;
	}
	.footer-list-item:nth-child(2) {
		flex-basis: 18%;
	}
	.footer-list-item:nth-child(3) {
		flex-basis: 29%;
	}
	.footer-list-item {
		flex-basis: auto;
	}
}
@media (max-width: 991px) {
	.footer-list {
		display: grid;
		grid-row-gap: 13px;
		grid-template-columns: 300px 180px auto;
		grid-template-areas: "footer-one footer-two footer-four"
							 "footer-three footer-three footer-three"
	}
	.footer-list-item:nth-child(1) {
		grid-area: footer-one;
	}
	.footer-list-item:nth-child(2) {
		grid-area: footer-two;
	}
	.footer-list-item:nth-child(3) {
		grid-area: footer-three;
	}
	.footer-list-item:nth-child(4) {
		grid-area: footer-four;
	}
}
@media (max-width: 767px) {
	.footer-list {
		display: grid;
		grid-row-gap: 13px;
		grid-template-columns: 270px auto;
		grid-template-areas: "footer-one footer-two"
							 "footer-three footer-three"
							 "footer-four footer-four"
	}
	.footer-contacts {
		margin-top: 31px;
	}
	.footer-contacts-address {
		margin-bottom: 9px;
	}
	.footer-contacts-address br {
		display: none;

	}
}
@media (max-width: 500px) {
	.footer-list {
		text-align: center;
	}
	.footer-list {
		display: grid;
		grid-row-gap: 13px;
		grid-template-columns: auto;
		grid-template-areas: "footer-one"
							 "footer-three"
							 "footer-two"
							 "footer-four"
	}
	.footer-copyright {
		text-align: center;
	}
}
/*********** END FOOTER ***********/

/*********** START CONTRACT SECTION ***********/
.contract-section {
	padding-bottom: 70px;
	background-color: #fff;
}
.contract-section-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -0.257143px;
	color: #0D4259;
	padding-left: 15px;
	border-left: 4px solid #0085C0;
	margin-top: 0;
	margin-bottom: 35px;
}
.contract-section-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 35px;
}
.contract-flex {
	display: flex;
	align-items: center;
}
.contract-flex-left {
	flex-basis: 49%;
}
.contract-flex-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #0D4259;
	margin-top: 0;
	margin-bottom: 25px;
}
.contract-flex-ul {
	padding: 0;
	margin: 0;
}
.contract-flex-ul li {
	list-style-position: inside;
	color: #0D4259;
	font-size: 21px;
}
.contract-flex-ul li:not(:last-child) {
	margin-bottom: 7px;
}
.contract-flex-ul span {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.contact-flex-right {
	display: flex;
	flex-direction: column;
	margin-left: 120px;
	margin-top: 46px;
}
.contact-flex-right-img span {
	font-size: 168px;
	color: #0D4259;
}
.contact-flex-right-title {
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	max-width: 230px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.contact-flex-right-text {
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 9px;
}
@media (max-width: 1199px) {
	.contract-section {
		padding-bottom: 62px;
	}
	.contract-flex-left {
		flex-basis: 60%;
	}
	.contract-flex-ul {
		width: 455px;
	}
	.contact-flex-right {
		margin-left: 0;
		margin-top: 71px;
	}
	.contact-flex-right-img span {
		font-size: 218px;
	}
}
@media (max-width: 991px) {
	.contract-section {
		padding-bottom: 70px;
	}
	.contract-flex {
		flex-direction: column;
		align-items: flex-start;
	}
	.contact-flex-right {
		flex-direction: row;
		align-items: center;
		margin-top: 38px;
		margin-left: 0;
	}
	.contact-flex-right-img {
		margin-right: 78px;
	}
	.contract-section-title {
		margin-top: 28px;
		margin-bottom: 38px;
		line-height: 37px;
	}
	.contact-flex-right {
		margin-left: 90px;
	}
	.contact-flex-right-title {
		margin-top: 8px;
	}
	.contract-flex-ul {
		width: auto;
	}
}
@media (max-width: 767px) {
	.contract-section {
		padding-bottom: 62px;
	}
	.contract-section-text {
		width: 504px;
	}
	.contact-flex-right {
		margin-left: 0;
		margin-top: 35px;
	}
	.contact-flex-right-img {
		margin-right: 16px;
	}
	.contact-flex-right-title {
		margin-top: 4px;
		width: 177px;
	}
}
@media (max-width: 540px) {
	.contact-flex-right-img {
		display: none;
	}
	.contract-section-text {
		width: 100%;
	}
}
/*********** END CONTRACT SECTION ***********/

/*********** START ADVANTAGE SECTION ***********/
.advantage-section {
	background-color: #E5F3F9;
	padding-top: 20px;
	padding-bottom: 49px;
	position: relative;
}
.advantage-section-list .slick-track{
	display:flex;
	/*justify-content: space-between;*/
}
.advantage-section-item {
	outline: none;
	height:auto;
  	flex: 0 0 auto;
  	margin-right: 10px;
  	margin-left: 10px;
}
.advantage-section-item span {
	max-width: 350px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.advantage-section-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #0D4259;
	padding-bottom: 12px;
	border-bottom: 4px solid #0085C0;
	margin-bottom: 20px;
	margin-top: 0;
	flex-grow: 1;
}
.advantage-section-image-wrapper {
	overflow: hidden;
	height: 342px;
	position: relative;
}
.advantage-section-image-wrapper img {
	display: block;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.advantage-prev,
.advantage-next {
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
	cursor: pointer;
}
.advantage-prev.slick-disabled,
.advantage-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.advantage-prev {
	left: 0;
}
.advantage-next {
	right: 0;
}
.advantage-prev svg,
.advantage-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 1199px){ 
	.advantage-section-item span {
		max-width: 450px;
	}
	.advantage-section-image-wrapper {
		height: 441px;
	}
}
@media (max-width: 991px){ 
	.advantage-section-image-wrapper {
		height: 325px;
	}
	.advantage-prev,
	.advantage-next {
		top: 58%;
	}
}
@media (max-width: 767px){ 
	.advantage-section-item {
		margin: 0 auto;
	}
	.advantage-section-item span {
		max-width: 100%;
	}
	.advantage-prev,
	.advantage-next {
		top: 56%;
	}
}
/*********** END ADVANTAGE SECTION ***********/

/*********** START PRICE SECTION ***********/
.price-section {
	background-color: #F3F6F7;
	padding-top: 70px;
	padding-bottom: 66px;
	position: relative;
}
.price-section-title {
	font-weight: bold;
	font-size: 33px;
	line-height: 39px;
	letter-spacing: -0.257143px;
	color: #0D4259;	
	padding-left: 15px;
	border-left: 4px solid #0D4259;
	margin-top: 0;
	margin-bottom: 35px;
}
.price-section-list {

}
.price-section-list .slick-track {
	display: flex;
}
.price-section-item-wrapper {
	outline: none;
	height: auto;
	/*flex: 0 0 auto;*/
	width: 160px!important;
}
.price-section-item-wrapper:not(:last-child) {
	margin-right: 30px;
}
.price-section-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.price-section-item:hover .price-section-image-wrapper {
	background: #C2ECF5;
}
.price-section-image-wrapper {
	background: #FFFFFF;
	border-radius: 10px;
	height: 226px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s;
}
.price-section-image-wrapper span {
	font-size: 124px;
	color: #0D4259;
}
.price-section-item-title {
	flex-grow: 1;
	padding-bottom: 23px;
	border-bottom: 3px solid #00C5EC;
	margin-top: 24px;
	margin-bottom: 10px;
	display: flex;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	align-items: flex-start;
  	justify-content: center;
}
.price-section-item-title span {
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: -1px;
	color: #0D4259;
}
.price-section-item-price {
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	color: #000000;
}
.price-section-item-button {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding: 5px 30px;
	background: #00C5EC;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	transition: color 0.3s;
}
.price-section-item-button:hover {
	color: #0D4259;
}
.price-prev,
.price-next {
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
	cursor: pointer;
}
.price-prev.slick-disabled,
.price-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.price-prev {
	left: 0;
}
.price-next {
	right: 0;
}
.price-prev svg,
.price-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 1199px) { 
	.price-prev,
	.price-next {
		top: 62%;
	}
}
@media (max-width: 991px) {
	.price-section-item-wrapper {
	}
	.price-section-list {
		max-width: 541px;
		margin-left: auto;
		margin-right: auto;
	}
	.price-prev,
	.price-next {
		top: 56%;
	}
}
@media (max-width: 767px) {
	.price-section-list {
		max-width: 381px;
	}
	.price-section-item-wrapper,
	.price-section-item-wrapper:not(:last-child) {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width: 540px) {
	.price-section-list {
		max-width: 190px;
	}
}
/*********** END PRICE SECTION ***********/

/*********** START WORKPROCESS SECTION ***********/
.workprocess-section {
	background-color: #0085C0;
	padding-top: 15px;
	padding-bottom: 50px;
}
.workprocess-section-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}
.workprocess-wrapper {
	border: 3px solid #FFFFFF;
	padding-top: 35px;
	padding-bottom: 26px;
}
.workprocess-list {
	height: 285px;
	display: flex;
	justify-content: space-between;
}
.workprocess-item {
	flex-basis: 26%;
	position: relative;
}
.workprocess-item:first-child,
.workprocess-item:last-child,
.workprocess-item:nth-child(3) {
	flex-basis: 16%;
}
.workprocess-icon-wrapper {
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workprocess-icon-wrapper span {
	font-size: 40px;
	color: #0D4259;
}
.workprocess-icon-down {
	align-self: flex-end;
}
.workprocess-icon-down:before {
	content: "";
	background-image: url('../svg/line-down.svg');
	background-size: cover;
	width: 7.333vw;
	height: 3.333vw;
	position: absolute;
	transform: translate(-19%, -94%);
}
.workprocess-icon-up {
	position: absolute;
	right: 0;
}
.workprocess-icon-up:before {
	content: "";
	background-image: url('../svg/line-up.svg');
	background-size: cover;
	width: 7.333vw;
	height: 3.333vw;
	position: absolute;
	transform: translate(-77%, -94%);
}
.workprocess-text {
	margin-top: 14px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}
@media (max-width: 1199px) {
	.workprocess-wrapper {
		padding-top: 44px;
		padding-bottom: 36px;
	}
	.workprocess-list {
		margin-left: 40px;
		margin-right: 40px;
		height: auto;
		display: grid;
		grid-row-gap: 0px;
		grid-column-gap: 0px;
		grid-template-columns: 124px 210px 124px 210px 124px;
		grid-template-areas: "one . three . five"
						 	 ". two . four ." 
	}
	.workprocess-item-one {
		grid-area: one;
	}
	.workprocess-item-two {
		grid-area: two;
	}
	.workprocess-item-three {
		grid-area: three;
	}
	.workprocess-item-four {
		grid-area: four;
	}
	.workprocess-item-five {
		grid-area: five;
	}
	.workprocess-icon-down:before {
		transform: translate(-5%, -115%) rotate(20deg);
	}
	.workprocess-icon-up:before {
		transform: translate(-100%, -115%) rotate(-20deg);
	}
}
@media (max-width: 991px) {
	.workprocess-wrapper {
		padding-top: 58px;
		padding-bottom: 22px;
	}
	.workprocess-list {
		margin-left: 0;
		margin-right: 0;
		grid-template-columns: repeat(6, 1fr);
		grid-row-gap: 62px;
		grid-template-areas: "one one two two three three"
						 	 "four four four five five five" 
	}
	.workprocess-item-four {
		margin-left: 93px;
	}
	.workprocess-item-five {
		margin-right: 83px;
	}
	.workprocess-icon-down:before,
	.workprocess-icon-up:before {
		content: none;
	}
}
@media (max-width: 767px) {
	.workprocess-wrapper {
		padding-top: 39px;
		padding-bottom: 6px;
	}
	.workprocess-list {
		grid-template-columns: 75px 75px 1fr 1fr 68px 68px;
		grid-row-gap: 33px;
	}
}
@media (max-width: 540px) {
	.workprocess-section {
		padding-top: 50px;
	}
	.workprocess-section-title {
		margin-bottom: 0;
	}
	.workprocess-wrapper {
		border: none;
	}
	.workprocess-list {
		display: flex;
		flex-direction: column;
	}
	.workprocess-item {
		display: flex;
		align-items: center;
	}
	.workprocess-text {
		margin-top: 0;
		text-align: left;
	}
	.workprocess-icon-wrapper {
		margin-left: 0px;
		margin-right: 10px;
		width: 75px;
		height: 75px;
	}
	.workprocess-icon-down {
		align-self: flex-start;
	}
	.workprocess-item-four {
		margin-left: 0;
	}
}
/*********** END WORKPROCESS SECTION ***********/

/*********** START PRICELIST SECTION ***********/
.pricelist-section {
	background-color: #E5F3F9;
	padding-top: 40px;
	padding-bottom: 45px;
}
.pricelist-flex {
	display: flex;
	justify-content: space-between;
}
.pricelist-tabs-wrapper {
	flex-basis: 49%;
}
.pricelist-tabs-title{
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #0D4259;
	padding-left: 15px;
	margin-top: 0;
	margin-bottom: 30px;
	border-left: 4px solid #0085C0;
}
.pricelist-tabs-list {

}
.pricelist-tabs-item {
	cursor: pointer;
}
.pricelist-tab {
	background-color: #73BCDD;
	padding: 18px 15px 18px 70px ;
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	color: #FFFFFF;
}
.pricelist-tab:not(:last-child) {
	border-bottom: 0.5px solid #CFE9F4;
}
.pricelist-tab-content *,
.pricelist-tab-content {
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	height: 0;
	transition: all 0.3s;
}
.pricelist-tab-content.active *,
.pricelist-tab-content.active {
	height: 100%;
	font-size: 14px;
	line-height: 20px;
}
.pricelist-tab-content.active .pricelist-tab-text {
	padding: 21px 40px;
}
.pricelist-tab-content.active td{
	border-width: 0.5px;
}
.pricelist-tab-content table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.pricelist-tab-content tr {
	background-color: #fff;
	transition: background-color 0.3s;
} 
.pricelist-tab-content tr:hover {
	background-color: #EAF8FE;
} 
.pricelist-tab-content td {
	border: 0.5px solid #CFE9F4;
}
.pricelist-tab-price {
	width: 128px;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
/* form */
.pricelist-form-wrapper {
	flex-basis: 48.5%;
}
.pricelist-form-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #0D4259;
	margin-top: 0;
	margin-bottom: 30px;
}
.pricelist-form-text {
	font-weight: 300;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	margin: 0;
}
.pricelist-form {
	margin-top: 22px;
	margin-bottom: 22px;
}
.pricelist-form-input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 21px;
	border-radius: 5px;
	border: none;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #0D4259;
}
.pricelist-form-input:focus {
	outline: none;
}
.pricelist-form-input-question {
	height: 76px;
	resize: none;
	margin-bottom: 17px;
}
.pricelist-form-button {
	width: 100%;
	padding: 10px;
	background: #00C5EC;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #FFFFFF;
	cursor: pointer;
}
.pricelist-form-button:focus {
	outline: none;
}
@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	.pricelist-flex {
		flex-direction: column;
	}
	.pricelist-form-title {
		margin-top: 32px;
		margin-bottom: -7px;
	}
	.pricelist-form {
		margin-top: 29px;
	}
	.pricelist-form-button {
		width: 78%;
		display: block;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	.pricelist-form {
		margin-top: 15px;
	}
	.pricelist-form-button {
		width: 100%;
	}
}
@media (max-width: 540px) {
	.pricelist-tab-content.active .pricelist-tab-text {
	    padding: 10px 10px;
	}
	.pricelist-tab-price {
		width: 80px;
	}
}
/*********** END PRICELIST SECTION **********/

/*********** START EXAMPLE SECTION **********/
.example-section {
	padding-top: 25px;
	padding-bottom: 79px;
	position: relative;
}
.example-secrion-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	color: #0D4259;
	padding-left: 15px;
	border-left: 4px solid #0085C0;
	margin-top: 0;
	margin-bottom: 35px;
}
.example-item {
	width: 350px;
	margin-left: 15px;
	margin-right: 15px;
	outline: none;
}
.example-big img {
	width: 100%;
}
.example-item-list-small {
	margin-top: 8px;
	width: 350px;
	display: flex;
	justify-content: space-between;
}
.example-item-small {
	width: 111px;
	height: 74px;
}
.example-item-list-small .slick-slide {
	margin: 0 6px;
	overflow: hidden;
}
.example-item-small img {
	display: block;
	width: 111px;
	height: 74px;
}
.example-item-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 33px;
	letter-spacing: -1px;
	color: #0D4259;
	margin-top: 20px;
	margin-bottom: 8px;
}
.example-item-line {
	display: block;
	width: 50%;
	border-bottom: 3px solid #00C5EC;
	margin-bottom: 18px;
}
.example-item-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}
.example-item-text:not(:last-child) {
	border-bottom: 1px solid #ECECEC;
}
.example-button-wrapper {
	text-align: center;
	margin-top: 57px;
}
.example-button {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px 73px;
	background: #00C5EC;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	transition: background 0.3s;
}
.example-button:hover {
	background: #0D4259;
}
.example-prev,
.example-next {
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 40px;
	height: 38px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
	cursor: pointer;
}
.example-prev.slick-disabled,
.example-next.slick-disabled {
	opacity: 0.5;
	cursor: auto;
}
.example-prev {
	left: 0;
}
.example-next {
	right: 0;
}
.example-prev svg,
.example-next svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
	.example-item {
		width: 450px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.example-item-list-small {
		width: 450px;
	}
	.example-item-small {
		width: 142px;
		height: 96px;
	}
	.example-item-small img {
		display: block;
		width: 142px;
		height: 96px;
	}
}
@media (max-width: 991px) {
	.example-list {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	.example-item {
		width: 480px;
		margin-left: 0;
		margin-right: 0;
	}
	.example-item-list-small {
		width: 480px;
	}
}
/*********** END example SECTION **********/

/*********** START FAQ SECTION ***********/
.faq-section {
	background: url('../img/contacts-bg.jpg');
	background-size: cover;
	background-position: right;
	padding-top: 31px;
	padding-bottom: 33px;
}
.faq-flex {
	display: flex;
	justify-content: space-between;
}
.faq-tabs-wrapper {
	flex-basis: 49%;
}
.faq-tabs-title{
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
}
.faq-tabs-list {

}
.faq-tabs-item {
	cursor: pointer;
}
.faq-tab {
	background: rgba(13, 66, 89, 0.5);
	padding: 18px 15px 18px 70px ;
	font-weight: 500;
	font-size: 16px;
	line-height: 14px;
	color: #FFFFFF;
}
.faq-tabs-item:not(:last-child) {
	border-bottom: 0.5px solid #CFE9F4;
}
.faq-tab-content {
	box-sizing: border-box;
	font-size: 0;
	padding: 0;
	height: 0;
	background-color: #fff;
	transition: all 0.3s;
}
.faq-tab-content.active {
	height: 100%;
	padding: 19px 49px;
}
.faq-tab-content.active .faq-tab-text {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	margin: 0;
}
/* form */
.faq-form-wrapper {
	flex-basis: 48.5%;
}
.faq-form-title {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
}
.faq-form-text {
	font-weight: 300;
	font-size: 10px;
	line-height: 14px;
	color: #fff;
	margin: 0;
}
.faq-form {
	margin-top: 22px;
	margin-bottom: 22px;
}
.faq-form-input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 21px;
	border-radius: 5px;
	border: none;
	font-weight: 300;
	font-size: 14px;
	line-height: 14px;
	color: #0D4259;
}
.faq-form-input:focus {
	outline: none;
}
.faq-form-input-question {
	height: 76px;
	resize: none;
	margin-bottom: 17px;
}
.faq-form-button {
	width: 100%;
	padding: 10px;
	background: #00C5EC;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #FFFFFF;
	cursor: pointer;
}
.faq-form-button:focus {
	outline: none;
}
@media (max-width: 1199px) {
	.faq-section {
		padding-bottom: 37px;
	}
}
@media (max-width: 991px) {
	.faq-flex {
		flex-direction: column;
	}
	.faq-form-title {
		margin-top: 32px;
		margin-bottom: -7px;
	}
	.faq-form {
		margin-top: 29px;
	}
	.faq-form-button {
		width: 78%;
		display: block;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	.faq-form {
		margin-top: 15px;
	}
	.faq-form-button {
		width: 100%;
	}
}
@media (max-width: 540px) {
	
}
/*********** END FAQ SECTION **********/